body {
	background: #CCCCCC;
}

html {
 font-family: 'Crimson Text', serif;
}


/*Nav Menu*/

.nav-menu {
  background-color: #EEEEEE;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  padding: 15px 25px;
}

.nav-left {
  align-items: center;
  display: flex;
}

.company-name {
  font-family: cursive;
  color: #B15C7B;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin: 5px;
 }

ul {
  list-style: none;
}

.nav li {
  font-size: 20px;
  margin: 0 20px;
  cursor: pointer;
}

/* DROPDOWN MENU */

.dropdown-menu {
  background-color: white;
  display: none;
  padding: 10px;
  position: absolute; 
  top: 60px;
  width: 250px;
  z-index: 10;
}

.dropdown-menu#menu-1 {
 left: 100px;
  min-width: 400px;
}

.dropdown-menu#menu-2 {
  left: 150px;
  min-width: 400px;
}

.dropdown-menu#menu-3 {
  left: 250px;
  min-width: 400px;
}

.menu-item-list {
  margin: 0;
  padding-left: 0;
}

#menu-2 .menu-item-list, 
#menu-3 .menu-item-list {
  column-count: 2;
  column-gap: 5px;
}

.menu-item-list li a {
  color: #454545;
  display: block;
  padding: 10px;
  text-decoration: none;
}
 
#top-nav {
  position: fixed;
}

.show {
  display: block;
}

/*Main Section with Photo Grid*/

.main-section {
  display: flex;
  flex-direction: column;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  color: #B15C7B;;
  font-size: 40px;
}

.photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  border: 2px solid black;
  padding: 25px;
  background: #EEEEEE;
}


/* Middle Secction */

.middle-section {
  display: flex;
  flex-direction: column;
  background: #EEEEEE;
  border: 2px solid black;
  padding: 25px;
}

.middle-header {
  display:  flex;
  justify-content: center;
  font-size: 35px;
  color: #B15C7B;
}

.description {
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: black;
  display: flex;
  justify-content: center;
  padding: 25px;
}

.build-bouquet-header {
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #B15C7B;
  display: flex;
}

.arrow {
  animation: jump 3s ease-in-out infinite;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size:  55px;
  color: #B15C7B;
  }
  
@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50%);
  }
}


/*Bouquet Builder*/

.container-input {
  display: flex;
  flex-direction: column;
}

.bouquet {
  height: 550px;
  width: auto;
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.bouquet-selection {
  display:  flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
  position: absolute;
  top: 0;
}

img {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
}

.color-selector-options {
  align-items: center;
  background-color: #EEEEEE;
  border-radius: 5px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  margin: 0 auto 50px auto;
  padding: 10px;
  width: 350px;
}

.color-selector li {
  background-color: #faf0e6;
  border-radius: 15px; 
  color: black;
  cursor: pointer; 
  list-style: none;
  height: 25px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  transition: 1s ease-in-out;
  width: 45px;
}

.color-selector .color-red:hover {
  background-color: black;
  color: red;
}

.color-selector .color-white:hover {
  background-color: black;
  color: white;
}

.color-selector .color-yellow:hover {
  background-color: black;
  color: yellow;
}




















